// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2022 Association Prologin <association@prologin.org>
// Copyright (c) 2022 Léo Lanteri Thauvin
{% import 'macros/cxx.jinja2' as cxx %}

#include <js/Array.h>
#include <js/CompilationAndEvaluation.h>
#include <js/Conversions.h>
#include <js/ErrorReport.h>
#include <js/Initialization.h>
#include <js/SourceText.h>
#include <jsapi.h>
#include <mozilla/Utf8.h>
#include <mozilla/mozalloc_abort.h>

#include <fstream>
#include <iostream>
#include <sstream>
#include <string>
#include <thread>
#include <vector>

{% for enum in game.enum %}
{{ cxx.decl_enum(enum) }}

{% endfor %}
{% for struct in game.struct %}
{{ cxx.decl_struct(struct) }}

{% endfor %}
extern "C" {
{% for func in game.function %}
{{ func.fct_summary|cxx_comment(doc=True) }}
{{ func|cxx_prototype(prefix='api_') }};

{% endfor %}
}

/// Utility for converting a `JSString` into a C++ `std::string`
bool js_encode_string(JSContext* cx, JSString* in, std::string& out) {
    JS::AutoCheckCannotGC _nogc;
    JSLinearString* s = JS_EnsureLinearString(cx, in);
    if (!s)
        return false;
    size_t len = JS::GetDeflatedUTF8StringLength(s);
    out.resize(len);
    JS::DeflateStringToUTF8Buffer(s, out);
    return true;
}

template <typename CxxType>
void cxx_to_js(JSContext* cx, CxxType in, JS::MutableHandleValue out) {
    return in.__if_that_triggers_an_error_there_is_a_problem;
}

template <typename CxxType>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, CxxType& out) {
    return CxxType::__if_that_triggers_an_error_there_is_a_problem;
}

template<>
void cxx_to_js(JSContext* cx, int i, JS::MutableHandleValue out) {
    out.setInt32(i);
}

template <>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, int& out) {
    if (!in.isInt32())
        return false;
    out = in.toInt32();
    return true;
}

template <>
void cxx_to_js(JSContext* cx, double x, JS::MutableHandleValue out) {
    out.setNumber(x);
}

template <>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, double& out) {
    if (!in.isNumber())
        return false;
    out = in.toNumber();
    return true;
}

template <>
void cxx_to_js(JSContext* cx, std::string s, JS::MutableHandleValue out) {
    JSString* str = JS_NewStringCopyN(cx, s.data(), s.size());
    if (!str) {
        JS_ReportOutOfMemory(cx);
        return;
    }
    out.setString(str);
}

template <>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, std::string& out) {
    if (!in.isString())
        return false;
    JSString* str = in.toString();
    return js_encode_string(cx, str, out);
}

template <>
void cxx_to_js(JSContext* cx, bool b, JS::MutableHandleValue out) {
    out.setBoolean(b);
}

template <>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, bool& out) {
    if (!in.isBoolean())
        return false;
    out = in.toBoolean();
    return true;
}

template <typename CxxType>
void cxx_to_js_array(JSContext* cx, const std::vector<CxxType>& in, 
                     JS::MutableHandleValue out) {
    JS::RootedValueVector v(cx);
    if (!v.resize(in.size())) {
        JS_ReportOutOfMemory(cx);
        return;
    }
    for (size_t i = 0; i < in.size(); i++)
        cxx_to_js<CxxType>(cx, in[i], v[i]);
    out.setObject(*JS::NewArrayObject(cx, v));
}

template <typename CxxType>
bool js_to_cxx_array(JSContext* cx, JS::HandleValue in, 
                     std::vector<CxxType>& out) {
    bool is_array;
    if (!JS::IsArrayObject(cx, in, &is_array) || !is_array)
        return false;
    JS::RootedObject arr(cx, &in.toObject());

    uint32_t len;
    if (!JS::GetArrayLength(cx, arr, &len))
        return false;

    out.clear();
    out.reserve(len);
    for (uint32_t i = 0; i < len; i++) {
        JS::RootedValue jsval(cx);
        CxxType cxxval;
        if (!JS_GetElement(cx, arr, i, &jsval) ||
            !js_to_cxx<CxxType>(cx, jsval, (CxxType&)cxxval)) {
            return false;
        }
        out.push_back(cxxval);
    }
    return true;
}

{% for enum in game.enum %}
template<>
void cxx_to_js(JSContext* cx, {{ enum.enum_name }} in, JS::MutableHandleValue out) {
    cxx_to_js(cx, (int)in, out);
}

template<>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, {{ enum.enum_name }}& out) {
    return js_to_cxx(cx, in, (int&)out);
}

{% endfor %}

{% for struct in game.struct %}
template<>
void cxx_to_js(JSContext* cx, {{ struct.str_name }} in,
               JS::MutableHandleValue out) {
    JS::RootedValueVector v(cx);
    if (!v.resize({{ struct.str_field|length }})) {
        JS_ReportOutOfMemory(cx);
        return;
    }
    {% for field_name, field_type, _ in struct.str_field %}
    {{ field_type|cxx_to_js }}(cx, in.{{ field_name }}, v[{{ loop.index0 }}]);
    {% endfor %}

    {% if struct.str_tuple %}
    out.setObject(*JS::NewArrayObject(cx, v));
    {% else %}
    JS::RootedObject obj(cx, JS_NewPlainObject(cx));
    {% for field_name, _, _ in struct.str_field %}
    JS_SetProperty(cx, obj, "{{ field_name|camel_case(upper=False) }}",
                   v[{{ loop.index0 }}]);
    {% endfor %}
    out.setObject(*obj);
    {% endif %}
}

template<>
bool js_to_cxx(JSContext* cx, JS::HandleValue in, {{ struct.str_name }}& out) {
    if (!in.isObject())
        return false;
    JS::RootedObject obj(cx, &in.toObject());
    {% if struct.str_tuple %}
    bool is_array;
    uint32_t len;
    if (!JS::IsArray(cx, obj, &is_array) || !is_array ||
        !JS::GetArrayLength(cx, obj, &len) ||
        len != {{ struct.str_field|length }}) {
        return false;
    }
    {% endif %}
    
    {% for field_name, _, _ in struct.str_field %}
    JS::RootedValue {{ field_name }}(cx);
    {% endfor %}

    return true
        {% for field_name, field_type, _ in struct.str_field %}
        {% if struct.str_tuple %}
        && JS_GetElement(cx, obj, {{ loop.index0 }}, &{{ field_name }})
        {% else %}
        && JS_GetProperty(cx, obj, "{{ field_name|camel_case(upper=False) }}", &{{ field_name }})
        {% endif %}
        && {{ field_type|js_to_cxx }}(cx, {{ field_name }}, out.{{ field_name }})
        {% endfor %}
    ;
}
{% endfor %}

{% for func in game.function %}
bool js_{{ func.fct_name }}(JSContext* cx, unsigned argc, JS::Value* vp) {
    if (argc != {{ func.fct_arg|length }}) {
        JS_ReportErrorASCII(cx, "`{{ func.fct_name|camel_case(upper=False) }}` "
                            "expected {{ func.fct_arg|length }} arguments, "
                            "got %d", argc);
        return false;
    }
    JS::CallArgs args = JS::CallArgsFromVp(argc, vp);

    {% for arg_name, arg_type, _ in func.fct_arg %}
    {{ arg_type|cxx_type }} {{ arg_name }};
    if (!{{ arg_type|js_to_cxx }}(cx, args[{{ loop.index0 }}], {{ arg_name }})) {
        JS_ReportErrorASCII(cx, "`{{ func.fct_name|camel_case(upper=False) }}` "
                            "got bad {{ loop.index0 }}th argument, "
                            "expected type `{{ arg_type|ts_type }}`");
        return false;
    }
    {% endfor %}

    {% if func is returning %}
    {{ func.fct_ret_type|cxx_to_js }}(
        cx,
        api_{{ func.fct_name }}({{ func.fct_arg|cxx_call_args }}),
        args.rval());
    {% else %}
    api_{{ func.fct_name }}({{ func.fct_arg|cxx_call_args }});
    args.rval().setUndefined();
    {% endif %}
    return true;
}

{% endfor %}

static JSFunctionSpec api_functions[] = {
    {% for func in game.function %}
    JS_FN("{{ func.fct_name|camel_case(upper=False) }}", 
          js_{{ func.fct_name }}, {{ func.fct_arg|length }}, 0),
    {% endfor %}
    JS_FS_END
};

{% for enum in game.enum %}
bool define_enum_{{ enum.enum_name }}(JSContext* cx, JS::HandleObject global) {
    JS::RootedObject obj(cx, JS_NewPlainObject(cx));
    JS::RootedValue i(cx);
    {% for field_name, _ in enum.enum_field %}
    i = JS::Int32Value({{ loop.index0 }});
    JS_SetProperty(cx, obj, "{{ field_name|camel_case }}", i);
    {% endfor %}

    JS_FreezeObject(cx, obj);
    JS::RootedValue val(cx, JS::ObjectValue(*obj));
    JS_SetProperty(cx, global, "{{ enum.enum_name|camel_case }}", val);
    return true;
}

{% endfor %}
{% for constant in game.constant %}
void define_const_{{ constant.cst_name|lower }}(JSContext* cx,
                                                JS::HandleObject global) {
    JS::RootedValue val(cx, {{ constant|js_const_val }});
    JS_SetProperty(cx, global, "{{ constant.cst_name }}", val);
}

{% endfor %}

bool js_console_log_inner(JSContext* cx, unsigned argc, JS::Value* vp, 
                          std::ostream& out) {
    JS::CallArgs args = JS::CallArgsFromVp(argc, vp);
    for (unsigned i = 0; i < argc; i++) {
        JS::RootedString js_str(cx, JS::ToString(cx, args[i]));
        if (!js_str) {
            JS_ReportErrorASCII(cx, "couldn't convert value to string");
            return false;
        }
        std::string str;
        if (!js_encode_string(cx, js_str, str))
            out << "??? ";
        else
            out << str << " ";
    }
    out << std::endl;
    return true;
}

bool js_console_log(JSContext* cx, unsigned argc, JS::Value* vp) {
    return js_console_log_inner(cx, argc, vp, std::cout);
}

bool js_console_error(JSContext* cx, unsigned argc, JS::Value* vp) {
    return js_console_log_inner(cx, argc, vp, std::cerr);
}

void define_js_console(JSContext* cx, JS::HandleObject global) {
    JS::RootedObject console(cx, JS_NewPlainObject(cx));
    JS_DefineFunction(cx, console, "log", js_console_log, 0, 0);
    JS_DefineFunction(cx, console, "error", js_console_error, 0, 0);
    JS::RootedValue console_val(cx, JS::ObjectValue(*console));
    JS_SetProperty(cx, global, "console", console_val);
}

struct StechecCurrentThreadContext {
    JS::PersistentRootedObject global;
    JS::Realm *realm;
    JSContext *current_thread_context;

    StechecCurrentThreadContext(const StechecCurrentThreadContext&) = delete;
    StechecCurrentThreadContext(StechecCurrentThreadContext&&)  noexcept = default;
    StechecCurrentThreadContext() = default;
};

static JSContext* cx;

static thread_local StechecCurrentThreadContext current_thread_context;

const std::thread::id MAIN_THREAD_ID = std::this_thread::get_id();

static StechecCurrentThreadContext main_current_thread_context;
static bool main_thread_initialized = false;

static std::string champion_data;

static __attribute__((constructor)) void init_js() {
    if (!JS_Init())
        throw 42;

    cx = JS_NewContext(JS::DefaultHeapMaxBytes);

    if (!JS::InitSelfHostedCode(cx))
        throw 42;
}

static __attribute__((destructor)) void deinit_js() {
    JS::LeaveRealm(cx, main_current_thread_context.realm);
    JS_DestroyContext(cx);
    JS_ShutDown();
}

static void js_report_error(JSContext * current_thread_context) {
    if (!JS_IsExceptionPending(current_thread_context))
        return;
    JS::RootedValue exc(current_thread_context);
    JS::ExceptionStack stack(current_thread_context);
    JS_GetPendingException(current_thread_context, &exc);
    JS::GetPendingExceptionStack(current_thread_context, &stack);
    JS_ClearPendingException(current_thread_context);

    JS::ErrorReportBuilder report(current_thread_context);
    report.init(current_thread_context, stack, JS::ErrorReportBuilder::WithSideEffects);
    JS::PrintError(stderr, report, true);

    JS::RootedString js_bt(current_thread_context);
    if (!stack.stack() || 
            !JS::BuildStackString(current_thread_context, nullptr, stack.stack(), &js_bt, 2)) {
        std::cerr << "(no stack trace available)" << std::endl;
        return;
    }
    std::string bt;
    js_encode_string(current_thread_context, js_bt, bt);
    std::cerr << bt;
}

static void read_champion() {
    const char* champion_path = getenv("CHAMPION_PATH");
    std::string champion;

    if (champion_path == nullptr) {
        champion = "champion.js";
    } else {
        champion = champion_path;
        champion += "/champion.js";
    }

    std::ifstream stream_file(champion);
    std::stringstream sstr;
    sstr << stream_file.rdbuf();
    champion_data = sstr.str();
}

static void setup_js_champion(JSContext *current_context, StechecCurrentThreadContext &context) {
    static JSClass GlobalClass = {"Stechec", JSCLASS_GLOBAL_FLAGS, &JS::DefaultGlobalClassOps};

    context.global.init(current_context,JS_NewGlobalObject(current_context, &GlobalClass, nullptr,
                JS::FireOnNewGlobalHook, JS::RealmOptions()) );
    
    context.realm = JS::EnterRealm(current_context, context.global);

    define_js_console(current_context, context.global);
    JS_DefineFunctions(current_context, context.global, api_functions);
    define_enum_error(current_context, context.global);
    // define_const_board_side_size(current_context, context.global);
    if (JS_IsExceptionPending(current_context))
        throw 42;

    JS::CompileOptions options(current_context);
    options.setFileAndLine("./champion.js", 1);

    if (champion_data.empty()) {
        read_champion();
    }

    JS::SourceText<mozilla::Utf8Unit> source;
    if (!source.init(current_context, champion_data.c_str(), champion_data.size(),  JS::SourceOwnership::Borrowed)) {
        throw 42;
    }

    JS::RootedValue rval(current_context);
    if (!JS::Evaluate(current_context, options, source, &rval)) {
        js_report_error(current_context);
        throw 42;
    }
}

static const StechecCurrentThreadContext& init_js_thread() {
    if (std::this_thread::get_id() == MAIN_THREAD_ID) {
        if (!main_thread_initialized) {
            main_thread_initialized = true;
            main_current_thread_context.current_thread_context = cx;
            setup_js_champion(cx, main_current_thread_context);
        }
        return main_current_thread_context;
    }

    JSContext *current_context = JS_NewContext(JS::DefaultHeapMaxBytes,
            JS_GetRuntime(cx));

    if (!JS::InitSelfHostedCode(current_context))
        throw 42;

    current_thread_context.current_thread_context = current_context;

    setup_js_champion(current_context, current_thread_context);
    return current_thread_context;
}

{% for func in game.user_function %}
extern "C" {{ func|cxx_prototype }} {
    // This hack allow to destroy global object before JS Context
    JSContext *js_context = nullptr;
    {
        const auto &context = init_js_thread();
        js_context = context.current_thread_context;

        JS::RootedValue js_ret(context.current_thread_context);
        {% if func.fct_arg %}
        JS::RootedValueArray<{{ func.fct_arg|length }}> args(context.current_thread_context);
        {% for arg_name, arg_type, _ in func.fct_arg %}
        {{ arg_type|cxx_to_js }}(cx, {{ arg_name }}, args[{{ loop.index0 }}]);
        {% endfor %}
        if (JS_IsExceptionPending(context.current_thread_context))
            throw 42;
        {% else %}
        JS::HandleValueArray args = JS::HandleValueArray::empty();
        {% endif %}

        if (!JS_CallFunctionName(context.current_thread_context, context.global, 
            "{{ func.fct_name|camel_case(upper=False) }}", args, &js_ret)) {
            js_report_error(context.current_thread_context);
            mozalloc_abort("");
        }

        {% if func is returning %}

        {{ func.fct_ret_type|cxx_type }} cxx_ret;
        if (!{{ func.fct_ret_type|js_to_cxx }}(cx, js_ret, cxx_ret)) {
            std::cerr
                << "`{{ func.fct_name|camel_case(upper=False) }}` returned bad "
                "value, expected type `{{ func.fct_ret_type|ts_type }}`"
                << std::endl;
            mozalloc_abort("");
        }

        if (MAIN_THREAD_ID != std::this_thread::get_id()) {
            JS::LeaveRealm(context.current_thread_context, context.realm);
        }
    }
    if (MAIN_THREAD_ID != std::this_thread::get_id()) {
        JS_DestroyContext(js_context);
    }

    return cxx_ret;
    {% else %}

        if (MAIN_THREAD_ID != std::this_thread::get_id()) {
            JS::LeaveRealm(context.current_thread_context, context.realm);
        }
    }
    if (MAIN_THREAD_ID != std::this_thread::get_id()) {
        JS_DestroyContext(js_context);
    }
    {% endif %}
}

{% endfor %}
