{# SPDX-License-Identifier: GPL-2.0-or-later
 # Copyright (c) 2022 Association Prologin <association@prologin.org>
 #}
{% extends "includes/Makefile-language.jinja2" %}

{% block lang %}javascript{% endblock %}

{% block extra_flags %}
CXXFLAGS += $(shell pkg-config --cflags mozjs-128)
LDFLAGS += $(shell pkg-config --libs mozjs-128)
{% endblock %}
